body {
    background-image: url("wallpaperpages.jpg");
    background-repeat: repeat-y;
    background-position: right top;
    text-align: center;
}
div{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
}

/* unvisited link */
div a:link {
    color: white;
}

/* visited link */
div a:visited {
    color:red;
}

/* mouse over link */
div a:hover {
    color: lightskyblue;
}

/* selected link */
div a:active {
    color: blue;
}

a{
    color: black;
}

p label{
    font-weight: bold;
    color:greenyellow;
    text-shadow: 3px 2px black;
}

table, td, th{
    font:  bold 18px Georgia, serif;
    color: black;
    text-shadow: 3px 2px darkorchid;
    border: 3px solid lightblue;
    border-collapse: separate;
    width:50%; 
    margin-left:25%; 
    margin-right:25%;
}

form{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150%;
}
form legend{
    color: white;
}